.yt-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.yt-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}


.yt-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #272727;
}

.yt-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.showSidebar {
  display: block;
}